
body {
    font-family: 'Old Standard TT', serif;
    color: white;

}

body, html { 
    height: 100%;
}

.search_text {
    text-align: center;
    background-color: #000;
    width: 100%;
}

p {
    margin-left: 30px;
}

.book-container {
    margin: 20px 20px 0 0;
    overflow: auto;
    color: #8C7409;
    border: 5px solid #8C7409;
    background-color: #441202;
    box-shadow: 10px 10px 2px #888;
}

.book-container a:link { color: white; }
.book-container a:visited { color: #ABB0BA; }

.book-image {
    float: left;
    border-style: solid;
    border-color: white;
}


img.book-image {
    max-width: 110px;
}

.book-title {
    font-weight: bold;
    margin-left: 140px;
}

.book-info {
    margin-left: 110px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #000;
}
