<!DOCTYPE HTML>

<head>
    <link rel="stylesheet" href="{{url_for('static', filename='main.css') }}">
<style>

body {
    background-image: url("{{ url_for('static', filename='book_shelf_background.jpg') }}");
    background-repeat: repeat;
}

</style>

<title> Book finder </title>
</head>

<body>
    <div class="search_text">
        <h1> Search for a book! </h1>
        <form action='/' method='POST'>
            <input type='search' name='term' autofocus>
            <input type='submit' value='Search'>
        </form>

    {% if page_number %}
    <a href="{{ '/{}/{}'.format(search_word, 1) }}">&lt;&lt; Page 1</a> ...
    {% for page in range(0, 7) %}
    <a href="{{ '/{}/{}'.format(search_word, page_number+page) }}">{{ page_number+page }}</a>
    {% endfor %}
    {% endif %}
    </div>

{% if book_data %}

{% for book in book_data %}
<div class="book-container">
    <image class="book-image" src="{{ book.picture_link }}" alt="No image available.">
<h2 class="book-title"> {{ book.title }} </h2>
<div class="book-info">
    <p> Written by: {{ book.authors }} </p>
    <p> Publishing Information: {{ book.publisher }} </p>
    <p> <a href="{{ book.info_link }}">Click here for additional information</a> </p>
</div>
</div>
{% endfor %}
{% else %}
    <div class="book-conainer">
        <h2> No results Found. </h2>
    </div>
{% endif %}
<br>
</body>

<footer>
    Created by Brian Dague <br>
    Background courtesy of : <a href="https://www.freepik.com/free-photos-vectors/poster">Poster vector created by macrovector - www.freepik.com</a>
</footer>
